<form class="recover" action="/recover" method="post">
	<h1>Match & shop</h1>
	<div class="input-group">
		<label>Username</label>
		<input type="text" value="aleclet"/>
	</div> 
	<div class="input-group">
		<label>Email</label>
		<input type="" value="leclet"/>
	</div>
	<input type="submit" class="recover-button" value="Recover my password"/>
</form>
