/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "compass";
  src: url('/fonts/compass/Compass.ttf?1506539259') format('truetype'), url('/fonts/compass/CompassBold.ttf?1506539259') format('truetype');
}
/* line 24, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 30, ../sass/screen.scss */
body {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  padding-top: 72px;
  background-color: #F1F1F1;
  font-family: "compass";
}
/* line 45, ../sass/screen.scss */
body .hidden {
  visibility: hidden;
  position: fixed;
  top: -1000px;
  left: -1000px;
  z-index: -999;
}
/* line 54, ../sass/screen.scss */
body .logo {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 8px;
  left: 50%;
  margin-left: -32px;
  background-image: url('/images/logo.png?1506539259');
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 72, ../sass/screen.scss */
body a, body a:visited, body a:hover {
  text-decoration: none;
  color: #F1F1F1;
}
/* line 78, ../sass/screen.scss */
body .error {
  text-align: center;
  color: white;
  font-size: 48px;
  margin: 32px auto;
}
/* line 89, ../sass/screen.scss */
body .button, body .input-group .button-refine, body .wrap .signup-button, body .recover .recover-button, body article .wrap .advanced .wrap .search, body article .wrap .body .match-button, body article .wrap .input-group .submit {
  width: -moz-calc(100% - 32px);
  width: -webkit-calc(100% - 32px);
  width: calc(100% - 32px);
  height: 48px;
  margin: 16px;
  display: block;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  background-color: #C33043;
  border-color: #C33043;
  color: white;
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  float: left;
  border: 0px !important;
}
/* line 110, ../sass/screen.scss */
body .button:hover, body .input-group .button-refine:hover, body .wrap .signup-button:hover, body .recover .recover-button:hover, body article .wrap .advanced .wrap .search:hover, body article .wrap .body .match-button:hover, body article .wrap .input-group .submit:hover {
  background-color: #F1F1F1;
  cursor: pointer;
}
/* line 117, ../sass/screen.scss */
body .input-group.select {
  margin-top: 0px !important;
}
/* line 122, ../sass/screen.scss */
body .input-group {
  width: 100%;
  margin-top: 16px;
  overflow: hidden;
  *zoom: 1;
}
/* line 129, ../sass/screen.scss */
body .input-group label {
  width: 80%;
  margin: 16px;
  color: #FE4E5B;
}
/* line 136, ../sass/screen.scss */
body .input-group input, body .input-group select, body .input-group .bio {
  width: -moz-calc(100% - 32px);
  width: -webkit-calc(100% - 32px);
  width: calc(100% - 32px);
  height: 26px;
  font-size: 20px;
  margin: 16px;
  background-color: transparent;
  border: 0px;
  border-bottom: solid 2px #FE4E5B;
  color: black;
}
/* line 148, ../sass/screen.scss */
body .input-group .button-refine {
  background-color: #FE4E5B !important;
  color: #F1F1F1 !important;
}
/* line 157, ../sass/screen.scss */
body .icon-msg {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 3;
  background-color: #C33043;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: 40% 50%;
  background-image: url('/images/message.png?1506539259');
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
}
/* line 177, ../sass/screen.scss */
body .icon-msg .bubble {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 26px;
  background-color: #FE4E5B !important;
}
/* line 189, ../sass/screen.scss */
body .icon-msg .bubble p {
  color: white;
  text-align: center;
  line-height: 26px;
}
/* line 198, ../sass/screen.scss */
body .icon-msg:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* line 205, ../sass/screen.scss */
body .wrap-friends {
  width: 64px;
  height: auto;
  max-height: calc(100% - 130px);
  position: fixed;
  bottom: -1000px;
  right: 16px;
  overflow-y: scroll;
}
/* line 217, ../sass/screen.scss */
body .wrap-friends .friend, body .wrap-friends .friend .friend-select {
  width: 64px;
  height: 64px;
  float: bottom;
  background-color: #333333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  margin: 8px 0px;
}
/* line 235, ../sass/screen.scss */
body .wrap-friends .friend .friend-select {
  width: 60px !important;
  height: 60px !important;
  border: 2px solid #FE4E5B !important;
}
/* line 245, ../sass/screen.scss */
body .wrap-friends .friend:hover, body .wrap-friends .friend .friend-select:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* line 252, ../sass/screen.scss */
body .wrap-friends .new-msg {
  width: 58px;
  height: 58px;
  border: 3px solid #C33043 !important;
}
/* line 260, ../sass/screen.scss */
body .wrap-friends .bubble-online {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: #F1F1F1 solid 2px;
  border-radius: 26px;
  background-color: green !important;
}
/* line 273, ../sass/screen.scss */
body .wrap-friends .bubble-online p {
  color: white;
  text-align: center;
  line-height: 26px;
}
/* line 282, ../sass/screen.scss */
body .wrap-msg {
  width: 0px;
  height: 0px;
  position: fixed;
  bottom: 16px;
  right: 84px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 2;
  background-color: #C33043;
  opacity: 0.85;
  overflow: hidden;
}
/* line 299, ../sass/screen.scss */
body .wrap-msg .conversation {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 50px;
  left: 0px;
  overflow: auto;
}
/* line 310, ../sass/screen.scss */
body .wrap-msg .conversation .line {
  width: calc(100% - 16px);
  height: 32px;
  float: left;
  display: block;
  margin: 8px;
}
/* line 317, ../sass/screen.scss */
body .wrap-msg .conversation .line .msg {
  height: 20px;
  padding: 8px;
  line-height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}
/* line 330, ../sass/screen.scss */
body .wrap-msg .conversation .line .me {
  float: left;
  text-align: left;
}
/* line 336, ../sass/screen.scss */
body .wrap-msg .conversation .line .other {
  float: right;
  text-align: right;
}
/* line 344, ../sass/screen.scss */
body .wrap-msg input {
  width: calc(100% - 40px);
  height: 20px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  line-height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0px white solid;
  background-color: white;
  color: black;
}
/* line 364, ../sass/screen.scss */
body .wrap {
  width: 320px;
  margin: 0px auto;
  position: relative;
}
/* line 370, ../sass/screen.scss */
body .wrap .search-input-group {
  width: 100%;
  height: 56px;
  position: relative;
  float: left;
  background-color: #C33043;
}
/* line 379, ../sass/screen.scss */
body .wrap .search-input-group input {
  width: calc(100% - 40px);
  height: 20px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  line-height: 20px;
  border: 0px;
  border-bottom: 2px solid #F1F1F1;
  outline: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #F1F1F1;
  background-color: #FE4E5B;
}
/* line 407, ../sass/screen.scss */
body .notification {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9;
  margin-bottom: 10px;
  background-color: #C33043;
  color: #F1F1F1;
}
/* line 420, ../sass/screen.scss */
body .notification p {
  padding-left: 16px;
  line-height: 32px;
}
/* line 427, ../sass/screen.scss */
body .signup, body .recover {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  float: left;
  background-color: #FE4E5B;
}
/* line 439, ../sass/screen.scss */
body .signin {
  width: 100%;
  height: auto !important;
  position: relative;
  display: inline-block;
  float: left;
  overflow: auto !important;
  background-color: #FE4E5B;
}
/* line 450, ../sass/screen.scss */
body .wrap {
  position: absolute !important;
  top: 0px;
}
/* line 452, ../sass/screen.scss */
body .wrap h1 {
  padding: 0px;
  padding-top: 16px;
  color: white;
  text-align: center;
}
/* line 463, ../sass/screen.scss */
body .wrap .input-group input, body .wrap .input-group label, body .wrap .input::placeholder {
  color: white;
  border-color: white;
}
/* line 474, ../sass/screen.scss */
body .wrap a {
  font-size: 12px;
  line-height: 12px;
  text-align: center !important;
  position: relative;
  display: inline-block;
  margin: 8px;
  color: white;
}
/* line 485, ../sass/screen.scss */
body .wrap a:hover {
  text-decoration: underline;
  color: #F1F1F1;
}
/* line 492, ../sass/screen.scss */
body .wrap p {
  margin: 8px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #F1F1F1;
}
/* line 502, ../sass/screen.scss */
body .recover {
  min-height: 100vh;
}
/* line 511, ../sass/screen.scss */
body header {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #FE4E5B;
}
/* line 523, ../sass/screen.scss */
body header h1 {
  color: white;
  text-align: center;
  font-family: Arial;
  line-height: 32px;
  font-family: 'compass';
}
/* line 535, ../sass/screen.scss */
body header .search-wrap {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 0%;
  height: 64px;
  z-index: 5;
  background-color: #FE4E5B;
}
/* line 546, ../sass/screen.scss */
body header .search-wrap .input-group {
  width: calc(100% - 32px);
  height: 48px;
  margin: 8px auto;
}
/* line 551, ../sass/screen.scss */
body header .search-wrap .input-group .search {
  width: 48px;
  height: 48px;
  float: left;
  display: inline-block;
  background-image: url('/images/search.png?1506539259');
  background-position: 0px 16px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
/* line 565, ../sass/screen.scss */
body header .search-wrap .input-group input {
  width: calc(100% - 48px) !important;
  height: 44px;
  float: left;
  margin: 0px;
  display: inline-block;
  border-bottom: 2px solid white;
}
/* line 578, ../sass/screen.scss */
body header .navbar {
  width: 100%;
  height: 72px;
}
/* line 582, ../sass/screen.scss */
body header .navbar .icon {
  width: 25%;
  height: 100%;
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}
/* line 593, ../sass/screen.scss */
body header .navbar .icon:hover {
  cursor: pointer;
  background-color: #FE4E5B;
}
/* line 599, ../sass/screen.scss */
body header .navbar .icon .bubble {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 26px;
  background-color: #C33043 !important;
}
/* line 611, ../sass/screen.scss */
body header .navbar .icon .bubble p {
  text-align: center;
  line-height: 26px;
}
/* line 620, ../sass/screen.scss */
body header .navbar .suggestion {
  background-image: url('/images/suggestion.png?1506539259');
}
/* line 625, ../sass/screen.scss */
body header .navbar .search {
  background-image: url('/images/search.png?1506539259');
}
/* line 629, ../sass/screen.scss */
body header .navbar .match {
  background-image: url('/images/match.png?1506539259');
}
/* line 633, ../sass/screen.scss */
body header .navbar .profil {
  background-image: url('/images/profil.png?1506539259');
}
/* line 641, ../sass/screen.scss */
body article {
  width: 100%;
  height: auto;
  float: left;
  display: block;
  position: relative;
}
/* line 650, ../sass/screen.scss */
body article .wrap {
  position: relative;
  width: 100%;
}
/* line 656, ../sass/screen.scss */
body article .wrap .pic {
  width: 250px;
  height: 250px;
  margin: 16px auto;
  position: relative;
  background-color: #333333;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 671, ../sass/screen.scss */
body article .wrap h2, body article .wrap h3 {
  line-height: 48px;
  text-align: center;
}
/* line 677, ../sass/screen.scss */
body article .wrap .jauge {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #FE4E5B;
}
/* line 689, ../sass/screen.scss */
body article .wrap .list-notification {
  width: 100%;
  height: 300px !important;
  overflow: auto;
  float: left;
}
/* line 701, ../sass/screen.scss */
body article .wrap .modify {
  min-width: 150px;
  height: 32px;
  line-height: 32px;
  margin: 8px auto;
  text-align: center;
  background-color: #C33043;
  color: #F1F1F1;
}
/* line 715, ../sass/screen.scss */
body article .wrap .advanced {
  height: 32px;
  overflow: hidden;
  line-height: 32px;
  padding-left: 16px;
  background-color: #C33043;
  color: #F1F1F1;
}
/* line 726, ../sass/screen.scss */
body article .wrap .advanced .title:hover {
  cursor: pointer;
}
/* line 732, ../sass/screen.scss */
body article .wrap .advanced .wrap {
  overflow: hidden;
  *zoom: 1;
}
/* line 734, ../sass/screen.scss */
body article .wrap .advanced .wrap .input-group label, body article .wrap .advanced .wrap .input-group input, body article .wrap .advanced .wrap select {
  color: #F1F1F1 !important;
  border-color: #F1F1F1 !important;
}
/* line 740, ../sass/screen.scss */
body article .wrap .advanced .wrap .search {
  background-image: url('/images/search.png?1506539259');
}
/* line 746, ../sass/screen.scss */
body article .wrap .advanced .wrap .chosen {
  width: 300px !Important;
  height: 48px !important;
  overflow: scroll;
}
/* line 751, ../sass/screen.scss */
body article .wrap .advanced .wrap .chosen .tags {
  width: 1000px;
  height: 48px !important;
}
/* line 762, ../sass/screen.scss */
body article .wrap .list, body article .wrap .list-notification {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 769, ../sass/screen.scss */
body article .wrap .list .people, body article .wrap .list-notification .people {
  width: 100%;
  height: 72px;
  float: left;
  color: black !important;
}
/* line 776, ../sass/screen.scss */
body article .wrap .list .people .pic, body article .wrap .list-notification .people .pic {
  width: 64px;
  height: 64px;
  float: left;
  margin: 16px;
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 790, ../sass/screen.scss */
body article .wrap .list .people h3, body article .wrap .list-notification .people h3 {
  margin-top: 8px;
  font-size: 16px;
}
/* line 796, ../sass/screen.scss */
body article .wrap .list .people h4, body article .wrap .list-notification .people h4 {
  font-size: 12px;
}
/* line 801, ../sass/screen.scss */
body article .wrap .list .people h3, body article .wrap .list-notification .people h3, body article .wrap .list .people h4, body article .wrap .list-notification .people h4 {
  width: 50%;
  margin-left: 16px;
  padding: 0px;
  float: left;
  text-align: left;
}
/* line 812, ../sass/screen.scss */
body article .wrap .list .people:hover, body article .wrap .list-notification .people:hover {
  color: #C33043;
}
/* line 823, ../sass/screen.scss */
body article .wrap .top {
  width: 100%;
  height: 196px;
  float: left;
}
/* line 830, ../sass/screen.scss */
body article .wrap .top .wrap-picture {
  width: auto;
  min-width: 100%;
  height: 116px;
  position: relative;
  overflow-x: auto !important;
}
/* line 838, ../sass/screen.scss */
body article .wrap .top .wrap-picture .pic {
  width: 96px;
  height: 96px;
  background-color: #333333;
  margin: 16px auto;
  display: inline-block;
  float: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 854, ../sass/screen.scss */
body article .wrap .top h3 {
  text-align: center;
}
/* line 862, ../sass/screen.scss */
body article .wrap .body .sex, body article .wrap .body .orientation {
  width: 50%;
  height: 128px;
  float: left;
}
/* line 868, ../sass/screen.scss */
body article .wrap .body .sex .pic, body article .wrap .body .orientation .pic {
  width: 48px;
  height: 48px;
  background-color: #333333;
  margin: 16px auto;
}
/* line 880, ../sass/screen.scss */
body article .wrap .body .sex .pic, body article .wrap .body .orientation .pic {
  background-image: url('/images/bi.png?1506539259');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
/* line 888, ../sass/screen.scss */
body article .wrap .body .orientation .pic {
  background-image: url('/images/bi.png?1506539259');
}
/* line 893, ../sass/screen.scss */
body article .wrap .body .male {
  background-image: url('/images/male.png?1506539259') !important;
}
/* line 898, ../sass/screen.scss */
body article .wrap .body .female {
  background-image: url('/images/female.png?1506539259') !important;
}
/* line 903, ../sass/screen.scss */
body article .wrap .body .bio {
  width: 100%;
  float: left;
}
/* line 907, ../sass/screen.scss */
body article .wrap .body .bio h3 {
  text-align: left;
  margin: 16px;
}
/* line 912, ../sass/screen.scss */
body article .wrap .body .bio p {
  margin: 16px;
  color: #333333;
}
/* line 919, ../sass/screen.scss */
body article .wrap .body .tags {
  width: 100%;
  float: left;
}
/* line 923, ../sass/screen.scss */
body article .wrap .body .tags h3 {
  text-align: left;
  margin: 16px;
}
/* line 929, ../sass/screen.scss */
body article .wrap .body .tags .tag {
  display: inline-block;
  height: 32px;
  margin: 8px;
  padding: 8px;
  background-color: #333333;
  text-align: center;
  line-height: 32px;
  color: white;
}
/* line 942, ../sass/screen.scss */
body article .wrap .body .col {
  width: 50%;
  float: left;
}
/* line 946, ../sass/screen.scss */
body article .wrap .body .col h3, body article .wrap .body .col p {
  text-align: center;
  margin: 16px;
  color: #333333;
}
/* line 954, ../sass/screen.scss */
body article .wrap .body .match-button {
  background-image: url('/images/match.png?1506539259');
}
/* line 965, ../sass/screen.scss */
body article .wrap .wrap-modify input, body article .wrap .wrap-modify select, body article .wrap .wrap-modify textarea {
  border-color: #FE4E5B;
  color: black;
}
/* line 971, ../sass/screen.scss */
body article .wrap .wrap-modify label {
  color: #FE4E5B;
}
/* line 986, ../sass/screen.scss */
body article .wrap .input-group .bio {
  height: 64px;
}
/* line 991, ../sass/screen.scss */
body article .wrap .input-group .submit {
  background-image: url('/images/ok.png?1506539259');
}
/* line 997, ../sass/screen.scss */
body article .wrap .input-group .chosen {
  float: left;
  margin-left: 8px;
  height: 64px;
  overflow-x: scroll;
}
/* line 1003, ../sass/screen.scss */
body article .wrap .input-group .chosen .tag {
  display: inline;
  height: 32px;
  float: left;
  line-height: 32px;
  padding: 8px;
  margin: 8px;
  text-align: center;
  color: white;
  background-color: #FE4E5B;
}
/* line 1016, ../sass/screen.scss */
body article .wrap .input-group .chosen .tag .delete {
  width: 16px;
  height: 16px;
  margin: 8px;
  float: right;
  line-height: 16px;
  background-color: white;
  color: #FE4E5B;
}
/* line 1029, ../sass/screen.scss */
body article .wrap .input-group .picture {
  width: 64px;
  height: 64px;
  margin: 16px;
  float: left;
  background-color: #C33043;
  background-size: cover;
  background-position: center;
}
/* line 1041, ../sass/screen.scss */
body article .wrap .input-group .picture .delete {
  width: 16px;
  height: 16px;
  margin: 8px;
  float: right;
  line-height: 16px;
  text-align: center;
  background-color: white;
  color: #FE4E5B;
}
/* line 1059, ../sass/screen.scss */
body .logout-button {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #C33043;
  line-height: 48px;
  font-size: 8px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  opacity: 0;
}
/* line 1078, ../sass/screen.scss */
body .logout-button:hover {
  opacity: 1;
}
